#title{
     padding:auto;
}
.nav-icons{
    display:flex;
}

.nav_bar{
    height: 75px;
    background: #1a242f;
    padding:auto;
    padding-left: 3.3%;
    position: fixed;
   
}
.logo_img{
    float: left;
    width: 110px;
    margin: 3px;
    margin-left: 1px;
    margin-top: 8px;
    
}

.my-text{
    color:rgba(242,244,246,.9);
    font-size: 17px;
    font-weight: 350;
}

.bold-text{
    color:white;
    font-size: 17px;
    margin-right: 10px;
}

.right-navbar{
    display: flex;
    position:absolute;
    right:30px;
}

.icons-nav{
    color:rgba(242,244,246,.9);
    width:25px;
}
.navbar-button{
    background-color: #0F79AF;
    width: 112.83px;
    height: 35.5px;
}
.navbar-button:hover{
    background-color: #B5F9FA
}


.responsive-unhidden {
    display: flex;
    
}

.my-spacing{
    
    margin-left: 6px;
    margin-right: 6px;
}

/* WELCOME TO PRIME VIDEO PAGE */
#first{
    padding-top:73px;
    
}
.welcome-home-page {
    background-image: linear-gradient(to right,#000 40%,transparent 58%),
        url("https://m.media-amazon.com/images/G/31/AmazonVideo/2019/MLP.jpg");
    background-position: right top;
    width: 100%;
    overflow:hidden;
}

.welcome-prime-div {
    padding: 160px 20px 200px 68px;
}

.prime-head {
    font-weight: 500;
    color: white;
    font-size: 40px;
    margin-bottom: 19px;
}

.prime-txt {
    color: white;
    font-size: 21px;
    padding-top: 2px;
    padding-bottom: 30px;
    line-height: 1.3;
}

.prime-btn-div {
    width: 100%;
}

.prime-btn {
    height: 54px;
    width: 80%;
    background-color: #0F79AF;
    background-image: linear-gradient(to top, #0F79AF, #0F79AF);
}

.prime-txt-btn {
    font-size: 2.9 rem;
    margin: auto;
    font-weight: 500;
}



.div-fav{
    padding-top:10px;
}


.welcome{
   width:90%;
    margin-top: 34px;
    text-align: left;
    padding:auto;
}

.fav_head{
    color: black;
    font-size: 2.8rem;
    font-weight: 350;
    line-height:3.1rem;
    margin-left:60px;
}

.fav_txt{
    color: black;
    font-size: 1.5rem;
    line-height:1.8rem;
    margin-top: 21px ;
    margin-left:60px;
    font-weight: 300;
    
    
}
.fav_right{
    padding-top:10px;
    
}
.bg_blue{
    
    margin:1.5px 2.5px;
    padding:0;
    width: 205px;
    display: flexbox;
}

.image_shadow:hover{
    box-shadow: 0px 0px 8px rgba(0,0,0,1);
}


#rental{
    padding:auto; 
}

.rental-welcome{
    width:90%;
     margin-top: 34px;
     text-align: left;
     padding:auto;
 }

.rental-home-page {
    background-image: linear-gradient(to left, #000 40%, transparent 58%), url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/X-site/MLP/TVOD/TVOD_MLP_Left.jpg");
    background-position: left top;
    width: 100%;
    overflow:hidden;
}

.rental-div {
    padding: 160px 20px 200px 58px;
}

.rental-and-stick-head {
    font-weight: 500;
    color: white;
    font-size: 40px;
    margin-bottom: 19px;
}

.rental-and-stick-txt {
    color: white;
    font-size: 21px;
    padding-top: 2px;
    padding-bottom: 30px;
    line-height: 1.3;
}

.rent-and-stick-btn-div {
    width: 100%;
}

.rent-and-stick-btn {
    height: 54px;
    width: 80%;
    background-color: #0F79AF;
    background-image: linear-gradient(to top, #0F79AF, #0F79AF);
}

.rental-and-stick-txt-btn {
    font-size: 2.9 rem;
    margin: auto;
    font-weight: 500;
}



/* Fire Stick section */

.stick-home-page {
    background-image: linear-gradient(to left, #000 40%, transparent 58%), url("https://images-na.ssl-images-amazon.com/images/G/01/digital/video/Magellan_MLP/MLP_Template_Image_Left.jpg");
    background-position: left top;
    width: 100%;
    overflow:hidden;
}

.stick-div {
    padding: 160px 20px 200px 68px;
}
.stick-welcome{
    padding-right: 70px;
}
.stick-head {
    font-weight: 500;
    color: white;
    font-size: 40px;
    margin-bottom: 19px;
}

.stick-txt {
    color: white;
    font-size: 21px;
    padding-top: 2px;
    padding-bottom: 30px;
    line-height: 1.3;
}

.stick-btn-div {
    width: 100%;
}

.stick-btn {
    height: 54px;
    width: 80%;
    background-color: #0F79AF;
    background-image: linear-gradient(to top, #0F79AF, #0F79AF);
}

.stick-txt-btn {
    font-size: 2.9 rem;
    margin: auto;
    font-weight: 500;
}

/* Family section */

.family-home-page {
    background-image:linear-gradient(
            to right,
            #000 40%,
            transparent 58%
          ),
 url("https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/IN-kids-30Jan._CB1517304519_.jpg)");
    background-position: right top;
    width: 100%;
    overflow: hidden;
}

.family-div {
    padding: 160px 20px 200px 68px;
}

.friendly-head{
    font-weight: 500;
    color: white;
    font-size: 40px;
    margin-bottom: 19px;
}

.friendly-txt {
    color: white;
    font-size: 21px;
    padding-top: 2px;
    padding-bottom: 30px;
    line-height: 1.3;
}

.family-btn-div {
    width: 100%;
}

.family-btn {
    height: 54px;
    width: 80%;
    background-color: #0F79AF;
    background-image: linear-gradient(to top, #0F79AF, #0F79AF);
}

.family-txt-btn {
    font-size: 2.9 rem;
    margin: auto;
    font-weight: 500;
}



/* Footer Section */

#footer{
    height:159px;
    padding: 24px;
    text-align: center;
    background-color: #222222;
}

.footer-link{
    padding: 8px;
    font-size: 15px;
    line-height: 18px;
    color:#50AAD7;
    text-decoration: none;
}

.foot-name{
    font-size: 15px;
    color: #949494;
    margin-bottom: 1px;
}















/* Web Responsive  */


@media( max-width:1373px ) {
    #title3{
        background-color: white;
        /* height: 1004px; */
    }

    .fav_head{
        text-align: center;
        line-height:3.1rem;
        margin-left:20px;
    }
    
    .fav_txt{
        text-align: center;
        margin-left:20px;
     
    }  
    /* .fav_right{
        padding-left:110px; 
    } */

}


@media(max-width:350px){
    #title3{
        background-color: white;
        /* height: 1354px; */
    }

    .fav_head{
        text-align: center;
        line-height:3.1rem;
        margin-left:20px;
    }
    
    .fav_txt{
        text-align: center;
        margin-left:20px;
     
    }  
    .fav_right{
        padding-left: 110px;
    }
}




  @media (max-width: 990px){
    .navbar-button-container {
        display: none;
      }

}


  @media only screen and (max-width: 690px) {
    .rental-home-page {
        background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/X-site/MLP/TVOD/TVOD_MLP_Left.jpg");
        background-size: 170%;
        background-repeat: no-repeat;
        width: 100%;
        margin-bottom: 40%;
    }
    
    .rental-and-stick-head {
        font-weight: 500;
        color: white;
        font-size: 32px;
        margin-bottom: 19px;
    }

    .rental-and-stick-txt {
        color: white;
        font-size: 18px;
        padding-top: 2px;
        padding-bottom: 30px;
        line-height: 1.3;
    }
    .rental-div {

        width: 100%;
        margin-top: 75%;
        background-color:black;
        padding-left:13%;
        padding-right:9%;
        padding-top: 4%;
      
    }

    .rental-welcome {
        margin-top: -1%;
    }
}


@media only screen and (max-width: 690px) {
    .stick-home-page {
        background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/digital/video/Magellan_MLP/MLP_Template_Image_Left.jpg");
        background-size: 170%;
        background-repeat: no-repeat;
        width: 100%;
        margin-bottom: 0;
    }
    
    .stick-head {
        font-weight: 500;
        color: white;
        font-size: 32px;
        margin-bottom: 19px;
    }

    .stick-txt {
        color: white;
        font-size: 18px;
        padding-top: 2px;
        padding-bottom: 30px;
        line-height: 1.3;
    }
    .stick-div {

        width: 100%;
        margin-top: 60%;
        background-color:black;
        padding-left:13%;
        padding-right:9%;
        padding-top: 4%;
      
    }

    .stick-welcome {
        margin-top: -1%;
    }
}



@media only screen and (max-width: 691px) {
    .welcome-home-page {
        background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2019/MLP.jpg");
        background-repeat: no-repeat;
        background-size: 160%;
        margin-bottom:.01%;

    }

    .welcome-prime-div {

        width: 100%;
        margin-top: 53%;
        background-color: black;
        padding-left:10%;
        padding-right:4.4%;
        text-align: center;
}


    .prime-welcome {
        margin-top: -150px;
    }

    .prime-btn{
        width: 93%;
    }


}


@media only screen and (max-width: 691px) {
    .family-home-page {
        background-image: url("https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/IN-kids-30Jan._CB1517304519_.jpg)");
        background-repeat: no-repeat;
        background-size: 160%;
        margin-bottom:.01%;
        overflow:hidden;

    }

    .family-div {

        width: 100%;
        margin-top: 59.5%;
        background-color: black;
        padding-left:10%;
        padding-right:5.6%;
        text-align: center;
}


    .family {
        margin-top: -150px;
    }

    .btn{
        width: 93%;
    }


}